<mat-card class="form-card">
    <mat-card-header>
        <mat-card-title>Create Product</mat-card-title>
        <mat-card-subtitle>Fill up the Form</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="productForm" (ngSubmit)="save()">
            <mat-form-field class="f-w mb-1">
                <mat-label>Product Name</mat-label>
                <input type="text" matInput formControlName="productName" placeholder="product name">
                <mat-error *ngIf="f['productName'].hasError('required')">
                    Product Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="f-w mb-1">
                <mat-label>Select an option</mat-label>
                <mat-select formControlName="sectionId">
                    <mat-option *ngFor="let sec of sections" [value]="sec.sectionId">
                        {{sec.sectionName}}
                      </mat-option>
                </mat-select>
                <mat-error *ngIf="f['sectionId'].hasError('required')">
                    Section is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <div class="f-w mb-1">
                <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Save</button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button [routerLink]="['/products']">Back to list</a>
    </mat-card-actions>
</mat-card>